/* src/Navigation.css */
.navbar {
    background-color: #ccc;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #474747;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
